.inv-card{
    max-width: 1000px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
    background-image: linear-gradient(rgb(238, 241, 250),rgb(221, 228, 252));
}

p{
    line-height: 2.0;
}