.form-field{
    width: 300px;
    margin: auto;
}

.client-form{
    display: grid;
}

.sf-card{
    max-width: 500px;
    margin: auto;
}
.form-card{
    max-width: 1000px;
    margin: auto;
    padding: 15px;
    padding-top: 50px;
    min-height: 70%;
}
.file-form{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}