<section>
    <div>
        <h3 class="montserrat f-weight-800 sf-taupe-color text-center">
            Our Mission:
        </h3>
    </div>
    <p class="montserrat about-description">
        At Sharp Floor NC, our mission is to empower manufacturing companies with tailored software solutions
        that optimize
        their processes, enhance efficiency, and boost productivity. We understand that every business has its
        own distinct
        requirements, and that's why we are committed to delivering bespoke software that perfectly aligns with
        your
        company's goals and objectives.
    </p>
    <a class="contact-us" routerLink="/home/contact">
        <button mat-raised-button color="primary">Contact us</button>
    </a>
    <img class="mobile" src="../../../assets/img/Finger_Touch_Screen_Tablet.jpg">
    <img src="../../../../assets/img/Gear_silver.png" alt="">
    <div class="sf-silver-bg">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                    aria-label="Slide 7"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-block w-100">
                        <div class="text-center">
                            <strong class="bitter sf-taupe-color f-weight-800">
                                Tailored to Your Unique Needs:
                            </strong>
                        </div>
                        <p class="carousel-body about-description">
                            Our custom software solutions are built from the ground up, ensuring that every feature is
                            crafted to match your
                            specific requirements. Say goodbye to unnecessary clutter and embrace a streamlined system
                            that adapts seamlessly to
                            your processes.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <div class="text-center">
                            <strong class="bitter sf-taupe-color f-weight-800">
                                Enhanced Efficiency:
                            </strong>
                        </div>
                        <p class="carousel-body about-description">
                            By streamlining your workflows and automating repetitive tasks, our custom software
                            significantly improves your
                            operational efficiency. Spend less time on manual tasks and focus more on strategic
                            decision-making.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <div class="text-center">
                            <strong class="bitter sf-taupe-color f-weight-800">
                                Integration Capabilities:
                            </strong>
                        </div>
                        <p class="carousel-body about-description">
                            Our custom software is designed to integrate smoothly with your existing systems, such as
                            ERP and CRM, creating a
                            cohesive technology environment. This ensures seamless data flow and minimizes data silos.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <div class="text-center">
                            <strong class="bitter sf-taupe-color f-weight-800">
                                Scalability:
                            </strong>
                        </div>
                        <p class="carousel-body about-description">
                            As your manufacturing company grows, our custom software grows with you. We build solutions
                            that are scalable and
                            flexible, easily accommodating new features and functionality as your business expands.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <div class="text-center">
                            <strong class="bitter sf-taupe-color f-weight-800">
                                Data Security:
                            </strong>
                        </div>
                        <p class="carousel-body about-description">
                            We understand the sensitivity of your manufacturing data and prioritize its security. Our
                            custom software solutions
                            come equipped with robust data encryption and access controls, safeguarding your critical
                            information from
                            unauthorized access.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <div class="text-center">
                            <strong class="bitter sf-taupe-color f-weight-800">
                                Competitive Advantage:
                            </strong>
                        </div>
                        <p class="carousel-body about-description">
                            By utilizing custom software tailored to your business, you gain a significant competitive
                            edge. Efficient
                            processes, real-time data insights, and improved decision-making empower you to stay ahead
                            of the competition.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <div class="text-center">
                            <strong class="bitter sf-taupe-color f-weight-800">
                                Cost-Effectiveness:
                            </strong>
                        </div>
                        <p class="carousel-body about-description">
                            Investing in custom software might seem like a considerable upfront cost, but it pays off in
                            the long run. Eliminate
                            licensing fees and unnecessary features while enjoying the benefits of a tailored solution
                            that precisely meets your
                            needs.
                        </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>