<main class="about-main">
    <section class="sf-bg">
        <div class="left-section">
            <div>
                <h3 class="content-title display-4">
                    <div>
                        Welcome to
                    </div>
                    <div>
                        Sharp Floor NC!
                    </div>
                </h3>
            </div>
            <p class="content-body about-description">
                At Sharp Floor NC, we specialize in providing cutting-edge custom manufacturing software solutions
                designed
                specifically for manufacturing companies in the aerospace, military, medical, and automotive industries.
                With
                years of experience and a dedicated team of experts, we have honed our skills to cater to the unique
                needs and
                challenges faced by businesses in these sectors.
            </p>
            <a routerLink="/home/contact">
                <button mat-raised-button color="primary">Contact us</button>
            </a>
        </div>
        <div class="right-section img-container">
            <img class="mobile" src="../../../assets/img/Robot_hand.jpg" width="500" height="300" alt="">
        </div>
    </section>

    <section class="sf-bg">
        <div class="left-section img-container">
            <img class="mobile" src="../../../assets/img/Finger_Touch_Screen_Tablet.jpg" width="500" height="300"
                alt="">
        </div>
        <div class="right-section">
            <div>
                <h3 class="content-title display-4">
                    Our Mission:
                </h3>
            </div>
            <p class="content-body about-description">
                At Sharp Floor NC, our mission is to empower manufacturing companies with tailored software solutions
                that optimize
                their processes, enhance efficiency, and boost productivity. We understand that every business has its
                own distinct
                requirements, and that's why we are committed to delivering bespoke software that perfectly aligns with
                your
                company's goals and objectives.
            </p>
            <a routerLink="/home/contact">
                <button mat-raised-button color="primary">Contact us</button>
            </a>
        </div>
    </section>

    <section class="sf-bg">
        <div class="left-section">
            <div>
                <strong class="content-title display-4">
                    Why Choose Custom Software?
                </strong>
            </div>
            <p class="content-body about-description">
                We firmly believe that one-size-fits-all solutions rarely meet the complex demands of modern
                manufacturing
                businesses. Off-the-shelf software might seem convenient, but it often falls short in addressing
                critical workflows
                and constraints specific to your industry. That's where custom software shines. When you choose Sharp
                Floor NC's
                custom manufacturing software, you unlock a myriad of benefits:
            </p>
            <a routerLink="/home/contact">
                <button mat-raised-button color="primary">Contact us</button>
            </a>
        </div>
        <div class="right-section img-container">
            <img class="mobile" src="../../../assets/img/Digital_Eye.jpg" width="500" height="300" alt="">
        </div>
    </section>

    <div class="carousel-container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                    aria-label="Slide 7"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-block w-100">
                        <div>
                            <strong class="carousel-title display-4">
                                Tailored to Your Unique Needs:
                            </strong>
                        </div>
                        <p class="carousel-body about-description">
                            Our custom software solutions are built from the ground up, ensuring that every feature is
                            crafted to match your
                            specific requirements. Say goodbye to unnecessary clutter and embrace a streamlined system
                            that adapts seamlessly to
                            your processes.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <div>
                            <strong class="carousel-title display-4">
                                Enhanced Efficiency:
                            </strong>
                        </div>
                        <p class="carousel-body about-description">
                            By streamlining your workflows and automating repetitive tasks, our custom software
                            significantly improves your
                            operational efficiency. Spend less time on manual tasks and focus more on strategic
                            decision-making.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <div>
                            <strong class="carousel-title display-4">
                                Integration Capabilities:
                            </strong>
                        </div>
                        <p class="carousel-body about-description">
                            Our custom software is designed to integrate smoothly with your existing systems, such as
                            ERP and CRM, creating a
                            cohesive technology environment. This ensures seamless data flow and minimizes data silos.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <div>
                            <strong class="carousel-title display-4">
                                Scalability:
                            </strong>
                        </div>
                        <p class="carousel-body about-description">
                            As your manufacturing company grows, our custom software grows with you. We build solutions
                            that are scalable and
                            flexible, easily accommodating new features and functionality as your business expands.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <div>
                            <strong class="carousel-title display-4">
                                Data Security:
                            </strong>
                        </div>
                        <p class="carousel-body about-description">
                            We understand the sensitivity of your manufacturing data and prioritize its security. Our
                            custom software solutions
                            come equipped with robust data encryption and access controls, safeguarding your critical
                            information from
                            unauthorized access.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <div>
                            <strong class="carousel-title display-4">
                                Competitive Advantage:
                            </strong>
                        </div>
                        <p class="carousel-body about-description">
                            By utilizing custom software tailored to your business, you gain a significant competitive
                            edge. Efficient
                            processes, real-time data insights, and improved decision-making empower you to stay ahead
                            of the competition.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100">
                        <div>
                            <strong class="carousel-title display-4">
                                Cost-Effectiveness:
                            </strong>
                        </div>
                        <p class="carousel-body about-description">
                            Investing in custom software might seem like a considerable upfront cost, but it pays off in
                            the long run. Eliminate
                            licensing fees and unnecessary features while enjoying the benefits of a tailored solution
                            that precisely meets your
                            needs.
                        </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <section class="sf-bg">
        <div class="left-section">
            <div>
                <strong class="content-title display-4">
                    Our Process:
                </strong>
            </div>
            <p class="content-body about-description">
                At Sharp Floor NC, we take a collaborative approach to develop your custom manufacturing software. Our
                team of
                experts works closely with you to understand your business processes, challenges, and goals. We then
                craft a
                detailed plan and design a solution that aligns perfectly with your requirements. Throughout the
                development
                process, we maintain open communication, ensuring that you are involved every step of the way. Your
                satisfaction is
                our ultimate goal.
            </p>
            <a routerLink="/home/contact">
                <button mat-raised-button color="primary">Contact us</button>
            </a>
        </div>
        <div class="right-section img-container">
            <img class="mobile" src="../../../assets/img/Digital_Lab.jpg" width="500" height="300" alt="">
        </div>
    </section>

    <section class="sf-bg">
        <div class="left-section img-container">
            <img class="mobile" src="../../../assets/img/Stylus_Pen_Tablet.jpg" width="500" height="300" alt="">
        </div>
        <div class="right-section">
            <div>
                <strong class="content-title display-4">
                    Let's Elevate Your Manufacturing Efficiency:
                </strong>
            </div>
            <p class="content-body about-description">
                Discover the power of custom manufacturing software tailored to your aerospace, military, medical, or
                automotive
                company. <a routerLink="/home/contact" class="d-inline">Contact us</a> today for a consultation, and
                let's unlock the true potential of your business together. At
                Sharp Floor NC, we are committed to your success!
            </p>
            <a routerLink="/home/contact">
                <button mat-raised-button color="primary">Contact us</button>
            </a>
        </div>
    </section>
</main>