
.privacy-container{
    max-width: 1000px;
    margin: auto;
}

.d-inline{
    display: inline;
}

@media(max-width: 600px){
    .left-side{
        display: none;
    }

    .privacy-container{
        grid-template-columns: 1fr;
    }
}