<section class="sf-isabelline-bg sf-taupe-color">
    <h5 class="montserrat f-weight-800">
        Custom software can offer numerous benefits to manufacturing companies, tailored to their specific needs and processes. Here are some major advantages:
    </h5>
    <div class="list-2">
        <ul>
            <li class="montserrat">Increased Efficiency</li>
            <li class="montserrat">Enhanced Productivity</li>
            <li class="montserrat">Scalability</li>
            <li class="montserrat">Quality Control</li>
            <li class="montserrat">Cost Savings</li>
            <li class="montserrat">Data Security</li>
            <li class="montserrat">Customization</li>
            <li class="montserrat">Real-time Reporting and Analytics</li>
            <li class="montserrat">Integration with Existing Systems</li>
            <li class="montserrat">Compliance and Regulatory Requirements</li>
            <li class="montserrat">User Training and Adoption</li>
            <li class="montserrat">Innovation Support</li>
        </ul>
        <div class="sf-melon-bg box-contact">
            <h5>
                Custom software tailored to the unique needs:
            </h5>
            <div class="text-center contact-button">
                <button mat-raised-button>Contact us today>></button>
            </div>
        </div>
    </div>
</section>