<app-basicnav></app-basicnav>
<iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
    style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=trendhaven0b-20&language=en_US&marketplace=amazon&region=US&placement=383658218X&asins=383658218X&linkId=cb1401056b400707f82308de8d46b629&show_border=true&link_opens_in_new_window=true"></iframe>
<router-outlet></router-outlet>
<p>home works!</p>