<div class="tools-container">
  <!-- Header -->
  <div class="header">
    <h2>
      <mat-icon>build_circle</mat-icon>
      CNC Tools & References
    </h2>
    <p class="subtitle">Professional tooling references for setup personnel and CNC enthusiasts</p>
  </div>

  <!-- Tools Tabs -->
  <mat-tab-group class="tools-tabs" mat-stretch-tabs="false" mat-align-tabs="start">
    
    <!-- Tap Drill Chart Tab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>precision_manufacturing</mat-icon>
        Tap Drill Chart
      </ng-template>
      <div class="tab-content">
        <app-tap-drill-chart></app-tap-drill-chart>
      </div>
    </mat-tab>

    <!-- Speeds & Feeds Tab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>speed</mat-icon>
        Speeds & Feeds
      </ng-template>
      <div class="tab-content">
        <app-speeds-feeds></app-speeds-feeds>
      </div>
    </mat-tab>

    <!-- Machining Calculators Tab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>calculate</mat-icon>
        Calculators
      </ng-template>
      <div class="tab-content">
        <app-calculators></app-calculators>
      </div>
    </mat-tab>

    <!-- Material Properties Tab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>table_chart</mat-icon>
        Material Charts
      </ng-template>
      <div class="tab-content">
        <app-material-charts></app-material-charts>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>