<section>
    <div class="sf-isabelline-bg card-container">
        <div class="banner-container">
            <div class="banner text-center">
                <img src="../../../../assets/img/Why_custom_SW.png" height="60px" alt="">
            </div>
            <div>
                <strong class="montserrat sf-taupe-color f-weight-800">
                    Why Choose Custom Software?:
                </strong>
            </div>
        </div>
        <p class="montserrat paragraph">
            We firmly believe that one-size-fits-all solutions rarely meet the complex demands of modern
            manufacturing
            businesses. Off-the-shelf software might seem convenient, but it often falls short in addressing
            critical workflows
            and constraints specific to your industry. That's where custom software shines. When you choose Sharp
            Floor NC's
            custom manufacturing software, you unlock a myriad of benefits:
        </p>
        <!-- <a class="contact-us-button" routerLink="/home/contact">
            <button mat-raised-button color="primary">Contact us</button>
        </a> -->
    </div>

    <div class="sf-isabelline-bg card-container">
        <div class="banner-container">
            <div class="banner text-center">
                <img src="../../../../assets/img/Our_process.png" height="60px" alt="">
            </div>
            <div>
                <strong class="montserrat sf-taupe-color f-weight-800">
                    Our Process:
                </strong>
            </div>
        </div>
        <p class="montserrat paragraph">
            At Sharp Floor NC, we take a collaborative approach to develop your custom manufacturing software. Our
                team of
                experts works closely with you to understand your business processes, challenges, and goals. We then
                craft a
                detailed plan and design a solution that aligns perfectly with your requirements. Throughout the
                development
                process, we maintain open communication, ensuring that you are involved every step of the way. Your
                satisfaction is
                our ultimate goal.
        </p>
        <!-- <a class="contact-us-button" routerLink="/home/contact">
            <button mat-raised-button color="primary">Contact us</button>
        </a> -->
    </div>
    <div class="sf-isabelline-bg card-container">
        <div class="banner-container">
            <div class="banner text-center">
                <img src="../../../../assets/img/Elevate_manufacturing.png" height="60px" alt="">
            </div>
            <div>
                <strong class="montserrat sf-taupe-color f-weight-800">
                    Let's Elevate Your Manufacturing Efficiency:
                </strong>
            </div>
        </div>
        <p class="montserrat paragraph">
            Discover the power of custom manufacturing software tailored to your aerospace, military, medical, or
            automotive
            company. <a routerLink="/home/contact" class="d-inline">Contact us</a> today for a consultation, and
            let's unlock the true potential of your business together. At
            Sharp Floor NC, we are committed to your success!
        </p>
        <!-- <a class="contact-us-button" routerLink="/home/contact">
            <button mat-raised-button color="primary">Contact us</button>
        </a> -->
    </div>
</section>
