@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Montserrat:wght@100&display=swap');


a{
    text-decoration: none;
}

.sf-navbar{
    padding-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.logo-container{
    font-family: 'Hammersmith One', sans-serif;
}
.sf-logo {
    color: blue;
}

.nc-logo {
    color: orangered;
}

.is-active{
    border-bottom: 1px solid gray;
}

.sf-nav-link:hover{
    border-bottom: 1px solid gray;
    background-color: var(--melon);
}