<nav class="navbar navbar-expand-lg navbar-light sf-bg">
  <div class="container-fluid">
    <div>
      <span class="sf-logo">sf</span><span class="nc-logo">NC</span>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="sf-nav-link nav-link" mat-list-item routerLinkActive="is-active"
            routerLink="/home" [routerLinkActiveOptions]="{ exact: true}">
            HOME
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="sf-nav-link nav-link" mat-list-item routerLinkActive="is-active"
            routerLink="/home/calculator">
            CALCULATOR
          </a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="sf-nav-link nav-link" mat-list-item routerLinkActive="is-active"
            routerLink="/home/blog">
            BLOG
          </a>
        </li> -->
        <li class="nav-item">
          <a class="sf-nav-link nav-link" mat-list-item routerLinkActive="is-active"
            routerLink="/home/about">
            ABOUT
          </a>
        </li>
        <li class="nav-item">
          <a class="sf-nav-link nav-link" mat-list-item routerLinkActive="is-active"
            routerLink="/home/contact">
            CONTACT
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Customize Your
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/home/custommes">Manufacturing Execution System(MES)</a></li>
            <li><a class="dropdown-item" routerLink="/home/custominventory">Inventory Management</a></li>
            <li><a class="dropdown-item" routerLink="/home/qms">Quality Management System(QMS)</a></li>
          </ul>
        </li>
      </ul>
      <a routerLink="/home/contact">
        <button class="btn btn-outline-success" type="submit">Contact Us</button>
      </a>
    </div>
  </div>
</nav>