<nav class="navbar navbar-expand-lg navbar-light sf-isabelline-bg">
  <div class="container-fluid">
    <div>
      <!-- <span class="sf-logo">sf</span><span class="nc-logo">NC</span> -->
      <img src="../../../assets/img/logo.png" width="25px" alt="Sharp Floor NC" matTooltip="Sharp Floor NC" class="bg-light">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="sf-nav-link nav-link montserrat f-weight-400" mat-list-item routerLinkActive="is-active sf-melon-bg"
            routerLink="/home" [routerLinkActiveOptions]="{ exact: true}">
            HOME
          </a>
        </li>
        <li class="nav-item">
          <a class="sf-nav-link nav-link montserrat f-weight-400" mat-list-item routerLinkActive="is-active sf-melon-bg"
            routerLink="/home/about">
            ABOUT
          </a>
        </li>
        <li class="nav-item">
          <a class="sf-nav-link nav-link montserrat f-weight-400" mat-list-item routerLinkActive="is-active sf-melon-bg"
            routerLink="/home/contactus">
            CONTACT
          </a>
        </li>
        <li class="nav-item">
          <a class="sf-nav-link nav-link montserrat f-weight-400" mat-list-item routerLinkActive="is-active sf-melon-bg"
            routerLink="/home/articles">
            ARTICLES
          </a>
        </li>
        <li class="nav-item">
          <a class="sf-nav-link nav-link montserrat f-weight-400" mat-list-item routerLinkActive="is-active sf-melon-bg"
            routerLink="/home/tools">
            TOOLS
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="sf-nav-link nav-link" mat-list-item routerLinkActive="is-active"
            routerLink="/home/demo">
            DEMO
          </a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle montserrat f-weight-400" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" routerLink="/home/custommes" routerLinkActive="is-active sf-melon-bg">
            Customize Your
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/home/custommes">Manufacturing Execution System(MES)</a></li>
            <li><a class="dropdown-item" routerLink="/home/custominventory">Inventory Management</a></li>
            <li><a class="dropdown-item" routerLink="/home/qms">Quality Management System(QMS)</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/home/qms-demo">
              <mat-icon class="dropdown-icon">verified_user</mat-icon>
              Quality Management System - Live Demo
            </a></li>
            <li><a class="dropdown-item" routerLink="/home/tms-demo">
              <mat-icon class="dropdown-icon">build</mat-icon>
              Tool Management System - Live Demo
            </a></li>
            <li><a class="dropdown-item" routerLink="/home/preventive-maintenance-demo">
              <mat-icon class="dropdown-icon">schedule</mat-icon>
              Preventive Maintenance - Live Demo
            </a></li>
            <li><a class="dropdown-item" routerLink="/home/inventory-management-demo">
              <mat-icon class="dropdown-icon">inventory_2</mat-icon>
              Inventory Management - Live Demo
            </a></li>
          </ul>
        </li>
      </ul>
      <a routerLink="/home/contactus">
        <button mat-raised-button type="submit">Contact Us</button>
      </a>
    </div>
  </div>
</nav>