<section>
    <div>
        <h3 class="montserrat f-weight-800 text-center sf-taupe-color">
            <div>
                About
                Sharp Floor NC!
            </div>
        </h3>
    </div>
    <p class="montserrat about-description">
        At Sharp Floor NC, we specialize in providing cutting-edge custom manufacturing software solutions
        designed
        specifically for manufacturing companies in the aerospace, military, medical, and automotive industries.
        With
        years of experience and a dedicated team of experts, we have honed our skills to cater to the unique
        needs and
        challenges faced by businesses in these sectors.
    </p>
    <div class="text-center">
        <img src="../../../../assets/img/vector-younglady-with-laptop.png" alt="">
    </div>
    <br>
    <a routerLink="/home/contactus">
        <button mat-raised-button color="primary">Contact us</button>
    </a>
</section>