<section class="content-section animate-slide-in">
    <div class="content-card">
        <div class="section-header">
            <div class="header-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
            </div>
            <h2 class="montserrat section-title">
                About Sharp Floor NC
            </h2>
        </div>
        
        <div class="content-grid">
            <div class="text-content">
                <p class="montserrat description-text">
                    At Sharp Floor NC, we specialize in providing cutting-edge custom manufacturing software solutions
                    designed specifically for manufacturing companies in the aerospace, military, medical, and automotive industries.
                </p>
                <p class="montserrat description-text">
                    With years of experience and a dedicated team of experts, we have honed our skills to cater to the unique
                    needs and challenges faced by businesses in these sectors.
                </p>
                <div class="cta-container">
                    <a routerLink="/contactus" class="cta-button">
                        <button mat-raised-button color="primary" class="modern-button">
                            <span>Get Started</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </button>
                    </a>
                </div>
            </div>
            <div class="image-content">
                <div class="image-wrapper">
                    <img src="../../../../assets/img/vector-younglady-with-laptop.png" alt="Professional working on laptop">
                </div>
            </div>
        </div>
    </div>
</section>